header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgba(59, 59, 59, 0.692);
  
  & p {
    color: white;
    font-size: 30px;
  }

  & .icon {
    font-size: 34px;
    color: rgb(255, 174, 0);
    margin-right: 5px;
  }
}

.products {
  width: 100%;
  height: auto;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
}