@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif; 
  height: 1626px;
}


/* navbar styling */
.top-nav-bar {
  text-align: center;
  height: 15px;
  margin: 32px auto;
}

.top-nav-bar a {
  color: red;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin: 58px;
}

/* image styling */
.header img {
  display: block;
  margin: 0 auto 50px;
}


/* main-content styling */
.main-content {
  margin: 0 auto 100px;
}

.main-content h1 {
  text-align: center;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto 70px;
}

.main-content p {
  width: 1145px;
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto 40px;
}

/* button styling */
button {
  display: block;
  margin: 0 auto 55px;
  width: 195px;
  height: 54px;
  cursor: pointer;
  color: white;
  letter-spacing: 1.8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  background: #FF0000;
  text-transform: uppercase;
  border-radius: 5px;
}

button:hover {
  background: #ce0000;
}

button:active {
  background: #840000;
}

/* footer copyright */
.copyright {
  display: block;
  text-align: end;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 1145px;
  margin: 0 auto;
}














