input {
	outline: none;
}

.focused {
	border-color: greenyellow;
}

.negative {
	border-color: orangered;
	color: red;
}

span {
	border: 2px solid #9aff00;
}

.close-btn {
	border-radius: 47%;
	font-size: 10px;
}