.products {
  width: 100%;
  height: auto;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
}