@mixin flex-column {
	display: flex;
	flex-flow: column nowrap;
}

@mixin flex-row {
	display: flex;
	flex-flow: row;
}

@mixin footer-flex-settings {
	@include flex-column;
	justify-content: center;
	align-items: center;
}

@mixin header-non-mobile {
	.section-header__nav-bar {
		justify-content: space-around;
		align-items: center;
		margin: 23px 0 23px;
		
		&__menu-links {
			position: static;
			display: flex;
			flex-flow: row wrap;
			width: 90%;
			height: auto;
			background-color: transparent;
			
			&__item {
				width: auto;
				height: auto;
				display: inline-block;
				margin: 2px 10px;
				
				&__link {
					margin-left: 0;
				}
				
				&:hover {
					cursor: pointer;
					background-color: transparent;
				}
				
				&:hover > &__link {
					color: #57A4A4;
				}
			}
		}
	
		&__burger-button {
			display: none;
		}
	}
}

@mixin posts-autjor-and-stats {
	font-weight: 300;
	font-size: 11px;
	color: #7C7C7C;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

@mixin slash-symbol-delimiter {
	@include posts-autjor-and-stats;
	margin: 0 5px;
}

@mixin post-description-wide-screens {
	.main-content__recent-posts__gallery-container__post-wrapper {
		flex-flow: row nowrap;
		
		&__image {
			margin-bottom: 0;
		}
	}
	
	.main-content__recent-posts__gallery-container__post-wrapper__description-block {
		padding-left: 20px;
	}
}

@mixin sections-main-title {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 23px;
	text-transform: uppercase;
	color: #4E4E4E;
}

@mixin footer-contact-links {
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #B9B9B9;
}