$mobile-max-width: 320px;
$tablet-max-width: 768px;

$sections-base-padding: 0 22px;

$post-image-width: 160px;
$post-description-block-width: 380px;
$post-wrapper-width: $post-image-width + $post-description-block-width + 20;

$yellow: #F8902E;
$blue: #39599F;
$aqua: #45B0E3;
$pink: #D97AB0;
$red: #CC212C;