@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

/* background styling */
.cinema-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("../images/stars-background.jpg") no-repeat center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 150px;
}

.cinema-screen::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 21, 134, 0.17);
}

/* main logo styling */
.star-wars-logo {
  
  position: relative;
  display: block;
  margin: calc((100vh - 500px)/2) auto;
  transform: scale(1);
  opacity: 0;
  animation: logo-scaling 30s linear, logo-opacity 30s linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes logo-scaling {
  0% {transform: scale(1)}
  40% {transform: scale(0.1)}
  100% {transform: scale(0.05)}
}

@keyframes logo-opacity {
  0% {opacity: 1;}
  10% {opacity: 1;}
  20% {opacity: 1;}
  30% {opacity: 0.5;}
  40% {opacity: 0;}
  100% {opacity: 0;}
}

/* titles styling */
.credits-container {
  
  left: calc((100% - 850px)/2);
  width: 850px;
  height: auto;
  position: absolute;
  top: 100px;
  transform: rotateX(20deg) scale(1.3) translateY(800px);
  animation: star-wars-titles 30s ease-in, change-opacity 30s linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes star-wars-titles {
  from {transform: rotateX(20deg) scale(1.3) translateY(800px);}
  to {transform: rotateX(20deg) scale(1.5) translateY(-1000px);}
}

@keyframes change-opacity {
  0% {opacity: 1;}
  50% {opacity: 1;}
  60% {opacity: 1;}
  97% {opacity: 0.9;}
  100% {opacity: 0;}
}

.credits-container h1 {
  font-family: Oswald;
  font-size: 55px;
  color: #ffd500;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 50px;
}

.credits-container h2 {
  font-family: Oswald;
  font-size: 55px;
  color: #ffd500;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 50px;
}

.credits-container p {
  font-family: Oswald;
  letter-spacing: 1px;
  font-size: 55px;
  color: #ffd500;
  font-weight: 400;
  margin: 0;
  margin-bottom: 80px;
}

/* confirmation window */
.confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("../images/stars-background.jpg") no-repeat center;
  background-size: cover;
  border: none;
}

.confirm-button {
  font-family: Oswald;
  color: #ffd500;
  font-size: 25px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: rgba(129, 0, 0, 0.79);
  width: 300px;
  height: 50px;
  animation: glow-effect 2s ease;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes glow-effect {
  from {background-color: rgb(167, 0, 0);}
  to {background-color: rgba(129, 0, 0, 0.79);}
}

.confirm-button:active {
  margin-top: 10px;
  transition: margin-top 0.3s;
}


