@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600, 700&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
}

/*---------------------------------------------
                  Navbar Section
----------------------------------------------*/
.header-navbar {
  display: flex;
  justify-content: center;
}

.nav-elements-container {
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1900px; 
  height: 70px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.33);
}

/* logo container */
.logo-container {
  flex-basis: 177px;
  flex-shrink: 0;
}

.logo-img-container {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../images/logo-img%201.png");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 22px;
}

.company-name {
  display: inline-block;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  vertical-align: middle;
}

/* header links */
.links-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding: 0;
  flex-basis: 722px;
  flex-shrink: 0.8;
}

.links-container li {
  list-style-type: none;
}

.links-container .header-link {
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/* search button */
.search-button-container {
  display: flex;
  width: 68px;
  height: 70px;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  flex-basis: 68px;
  flex-shrink: 0;
  cursor: pointer;
}

.fa-search {
  font-family: FontAwesome;
  color: white;
  font-size: 17px;
}
/*-----------------------------------------------
               Latest News Section
-----------------------------------------------*/
.lates-news {
  display: flex;
  justify-content: center;
}

.lates-news-container {
  display: flex;
  flex-basis: 1900px;
  height: 374px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.17);
  z-index: 1; 
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

/* adding transparent filter on image */
.lates-news-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.21);
  z-index: -1;
  position: absolute;
}


/* adding more complex parallax */
.parallax-latest-news {
  position: absolute;
  left: calc((100% - 1900px)/2);
  width: 1900px;
  height: 1280px;
  z-index: -2;
  top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.parallax-latest-news::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/latest-news-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  z-index: -2;
  transform: scale(1.4);
  top: 100px;
} 

.lates-news .section-headline {
  font-size: 27px;
  flex-basis: 100%;
  margin: 0;
  color: white;
  text-align: center;
  margin-bottom: 44px;
}

.button-container button {
  width: 170px;
  height: 55px;
  margin: 0 8px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.subscribe {
  background-color: #89CA62;
}

.articles {
  background-color: #14B9D5;
}

/*-----------------------------------------------
                Most Popular Section 
------------------------------------------------*/
.post-flex-container {
  display: flex;
  justify-content: center;

}

.posts-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  flex-basis: 1900px;
  background-color: #F2F2F2;
  padding-top: 50px;
}

.posts-container .section-headline {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #18B4CF;
  flex: 100%;
  margin: 0;
  margin-bottom: 52px;
}

.flex-column {
  justify-content: center;
  margin: 0 16px;
}

/* posts */
.post  {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex-basis: 370px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 12px 15px -9px rgba(100, 100, 100, 0.6);
}

.post .post-image {
  width: 370px;
  height: auto;
}

.post .post-description {
  font-size: 18px;
  font-weight: bold;
}

/*-----------------------------------------------
             Our Most Popular Clients Section
------------------------------------------------*/
.popular-clients {
  
  display: grid;
  justify-content: center;

}

.popular-clients .grid-container {
  display: grid;
  width: 1900px;
  height: 600px;
  grid-column-gap: 75px;
  grid-row-gap: 105px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'section-header section-header section-header section-header'
    'national-post-logo dryme-logo house-logo journy-logo';
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.33);
}

/* adding more complex parallax */
.parallax-popular-clients {
  position: absolute;
  left: calc((100% - 1900px)/2);
  width: 1900px;
  height: 1280px;
  z-index: -2;
  top: 1400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.parallax-popular-clients::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/popular-clients-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: absolute;
  z-index: -2;
  transform: scale(1.3);
  top: 100px;
} 



.popular-clients .section-header {
  text-align: center;
  grid-area: section-header;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  position: relative;
}

.popular-clients .section-header::after {
  content: "";
  position: absolute;
  top: 85px;
  left: 400px;
  width: 60px;
  height: 3.5px;
  background-color: #18B4CF;
}

.national-post-logo {
  grid-area: national-post-logo;
  width: 207px;
  height: 28px;
  background: url('../images/our-clients-sprite.png') -5px -5px;
}

.dryme-logo {
  grid-area: dryme-logo;
  width: 135px;
  height: 49px;
  background: url('../images/our-clients-sprite.png') -5px -43px;
}

.house-logo {
  grid-area: house-logo;
  width: 141px;
  height: 52px;
  background: url('../images/our-clients-sprite.png') -5px -102px;
}

.journy-logo {
  grid-area: journy-logo;
  width: 141px;
  height: 52px;
  background: url('../images/our-clients-sprite.png') -5px -162px;
}

/*------------------------------------------------
                Top Rated Sections 
------------------------------------------------*/
.top-rated {
  width: 100vw;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.top-rated .grid-container {
  display: grid;
  grid-row-gap: 52px;
  justify-content: center;  
  align-items: center;
  position: relative;
  z-index: 1;
  
}

.top-rated .section-header {
  grid-area: 1 /span 7;
  margin: 0;
  text-align: center;
  color: #18B4CF;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  
}

.image-container {
  width: 275px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.33);
  z-index: 2;
}

.image-container:nth-child(8) {
  position: relative;
  left: -20px;
  z-index: 1;
}

/*------------------------------------------------
                  Hot News Section  
------------------------------------------------*/
.hot-news {
  margin: 0 auto;
  width: 100vw;
  height: 1640px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.hot-news .grid-container {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-row-gap: 44px;
  grid-template-columns: 1170px;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 'heading'
    'first-row'
    'second-row'
    'third-row';
  justify-content: center; 
  align-content: center;
  align-items: flex-start;
}

.hot-news h4 {
  padding: 0 24px;
  font-weight: ;
  font-size: 18px;
  margin: 0;
}

.hot-news p {
  padding: 0 24px;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.hot-news-post {
  box-shadow: 0 12px 15px -9px rgba(100, 100, 100, 0.6);
}


/* section header styling */
.hot-news .section-header {
  grid-area: heading;
  justify-self: center;
  grid: 100%;
  width: 300px;
  text-align: center;
  color: #18B4CF;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

/* styling post with description aside */
.description-aside {
  display: grid;
  width: 856px;
  height: 259px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'image heading'
                       'image description';
  grid-row-gap: 18.5px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #F9F7F7;
}

.description-aside img {
  grid-area: image;
  width: 483px;
}

.description-aside h4 {
  grid-area: heading;
  padding: 0 24px;
  text-align: right;
  align-self: flex-end;
}

.description-aside p {
  grid-area: description;
  text-align: right;
  justify-self: ;
  align-self: flex-start;
}

/* styling post without description */
.description-small {
  display: grid;
  width: 277px;
  height: 258px;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'image'
                       'heading';
  grid-row-gap: 15px;
  justify-content: space-between;
  align-content: flex-start;;
  align-items: center;
  background-color: #F9F7F7;
}

.description-small h4 {
  grid-area: heading;
  justify-self: center;
}
/* styling post with description under */
.description-under {
  display: grid;
  width: 554px;
  height: 418px;
  grid-template-columns: 554px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'image'
                       'heading'
                       'description';
  grid-row-gap: 18px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #F9F7F7;
}

.description-under h4 {
  grid-area: heading;
  justify-self: flex-end;
}

.description-under p {
  grid-area: description;
  align-self: flex-end;
  text-align: end;
  padding-left: 12px;
  padding-bottom: 12px;
}

/*------------------------------------------------
                  First Row  
------------------------------------------------*/
.hot-news .first-row {
  grid-area: first-row;
  justify-content: space-between;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, auto);
}
/*------------------------------------------------
                  Second Row  
------------------------------------------------*/
.hot-news .second-row-box {
  grid-area: second-row;
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-row-gap: 44px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}
/*------------------------------------------------
                  Third Row  
------------------------------------------------*/
.hot-news .third-row {
  display: grid;
  grid-area: third-row;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}

/*---------------------------------------------
                  Footer
----------------------------------------------*/
.footer {
  display: grid;
  height: 80px;
  justify-content: center;
  
}

.footer-container {
  padding: 0 350px;
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: black;
  box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.4);
}


.footer-container p {
  color: white;
  font-size: 13px;
  margin: 0;
  margin-left: 20px;
}

/* footer logo styling & positioning */
.lioit-logo-container {
  position: relative;
  width: 105px;
  height: 24px;
}

.lioit-logo-container::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 24px;
  background-image: url(../images/LIOIT-logo.png);
}

.lioit-logo-container::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 16px;
  left: 41px;
  background-image: url(../images/LIOIT-text-logo.png);
}

