.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.603);

  & .modal-window {
    width: 320px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    

    &.red {
      background-color: rgb(202, 74, 65);
    }

    &.green {
      background-color: rgb(77, 202, 65);
    }

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.281);
      border-radius: 10px 10px 0 0;
      padding: 10px 0 ;
      margin-bottom: 10px;
      
      &__title, &__icon {
        color: white;
        font-weight: bold;
        font-size: 20px;
      }

      &__icon {
        cursor: pointer;
      }
    }

    &__body {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;


      &__text {
        margin-bottom: 10px;
      }

      &__btn-wrapper {
        margin-bottom: 10px;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & #addToCart,
        & #cancel {
          cursor: pointer;
          outline: none;
          border: none;
          padding: 5px;
          color: white;
          background-color: yellowgreen;
          border-radius: 5px;
          width: 120px;
          text-transform: uppercase;
        }

        & #cancel {
          background-color: rgba(255, 0, 0, 0.774);
        }
      }
    }
  }
}