.footer-section {
	@include footer-flex-settings;
	padding: $sections-base-padding;
	background-color: black;
	
	&__wrapper {
		@include footer-flex-settings;
		padding: 40px 0;
		
		&__title {
			@include sections-main-title;
			color: white;
			margin: 0;
			padding: 0;
		}
		
		&__text {
			font-size: 16px;
			font-weight: 300;
			color: #B9B9B9;
			max-width: 684px;
			text-align: center;
			margin-bottom: 33px;
			line-height: 28px;
		}
		
		&__social-icons {
			display: flex;
			max-width: 100%;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 33px;
			
			&__link {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 6px;
				width: 34px;
				height: 34px;
				border: 1.7px solid;
				border-radius: 50%;
				text-decoration: none;
				
				&--yellow {
					border-color: $yellow;
				}
				
				&--blue {
					border-color: $blue;
				}
				
				&--aqua {
					border-color: $aqua;
				}
				
				&--pink {
					border-color: $pink;
				}
				
				&--red {
					border-color: $red;
				}
				
				&__icon {
					
					&--yellow {
						color: $yellow;
					}

					&--blue {
						color: $blue;
					}

					&--aqua {
						color: $aqua;
					}

					&--pink {
						color: $pink;
					}

					&--red {
						color: $red;
					}
				}
			}
		}
		
		&__contact-info {
			@include flex-row;
			
			&__link {
				@include footer-contact-links;
			}
			
			&.delimiter-symbol {
				@include footer-contact-links;
				margin: 0 7px;
			}
		}
	}
}