.section-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: $sections-base-padding;
	
	&__nav-bar {
		position: relative;
		width: 100%;
		max-width: 1170px; 
		height: 50px;
		display: flex;
		justify-content: flex-end;
		margin: 0 0 23px;
		top: 5px;
		top: 0;
		
		&__menu-links {
			@include flex-column;
			justify-content: space-between;
			align-items: flex-start;
			position: absolute;
			width: 182px;
			height: 208px;
			background-color: #F5F5F5;
			margin: 0;
			padding: 0;	
			top: 50px;
			right: 0;
			z-index: 1;
			
			&__item {
				list-style: none;
				width: 100%;
				height: calc(208px / 7);
				@include flex-column;
				justify-content: space-around;
				
				
				&__link {
					text-decoration: none;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 1.1px;
					color: #4E4E4E;
					font-weight: 400;
					margin-left: 12px;
				}
				
				&:hover {
					cursor: pointer;
					background-color: #E5E5E5;
				}
				
				&:hover > &__link {
					color: #57A4A4;
				}
			}
		}
		
		&__burger-button { 
			height: 37px;
			width: 44px;
			background-color: black;
			align-self: flex-end;
			@include flex-column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			position: relative;
			z-index: 2;
			outline: none;
			border: none;
			
			&:hover {
				cursor: pointer;
			}
			
			&__solid-bar {
				width: 17px;
				border-bottom: 1.5px solid white;
				margin-bottom: 2px;
				position: relative;
				transition: transform 0.5s, top 0.5s;
			}
			
			&:focus {
				outline: none;
				border: 0;
			}
		}
	}
		
	&__master-header {
			max-width: 100%;
			height: auto;
	}
}