.instagram-gallery {
	@include flex-column;
	justify-content: center;
	align-items: center;
	padding: $sections-base-padding;
	background-color: #F7F7F7;
	padding-bottom: 40px;
	
	&__instagram-posts {
		width: 100%;
		max-width: 1170px;
		
		&__header {
			@include flex-row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: stretch;
			margin-bottom: 23px;
			padding-top: 47px;
			
			&__title {
				@include sections-main-title;
				padding: 0;
				margin: 0;
			}
			
			&__social-media-link {
				@include sections-main-title;
				margin: 0;
				padding: 0;
				text-decoration: none;
				font-size: 14px;
			}
		}
		
		&__post-gallery {
			@include flex-row;
			align-items: flex-start;
			justify-content: flex-start;			
			
			&__image-link {
				max-width: 285px;
				margin: 4.5px;
				
				&__image {
					width: 100%;
					height: auto;
				}
				
				&:nth-child(4) ~ & {
					display: none;
				}
			}
		}
	}
}