.main-content {
	@include flex-column;
	justify-content: center;
	align-items: center;
	margin-top: 38px;
	padding: $sections-base-padding;
	
	&__recent-posts {
		width: 100%;
		max-width: 1170px;
		@include flex-column;
		justify-content: center;
		align-items: flex-start;
		
		&__title {
			@include sections-main-title;
		}
		
		&__gallery-container {
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			
			&__post-wrapper {
				display: flex;
				flex-flow: column nowrap;
				margin-bottom: 30px;
				text-decoration: none;
				max-width: $post-wrapper-width;
				
				&__image {
					width: $post-image-width;
					height: 140px;
					object-fit: cover;
					margin-bottom: 15px;
				}
				
				
				&__description-block {
					display: flex;
					flex-flow: column nowrap;
					justify-content: flex-start;
					align-items: flex-start;
					max-width: $post-description-block-width;
					
					&__title {
						font-weight: 700;
						font-size: 14px;
						margin: 5px 0 10px;
						color: #4E4E4E;
					}
					
					&__credits-and-stats-block {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						
						&__author {
							@include posts-autjor-and-stats;
							margin: 0;
							padding: 0;
						}
						
						&.delimiter-symbol {
							@include slash-symbol-delimiter;
						}
						
						&__comments-counter {
							@include posts-autjor-and-stats;
						}
					}
					
					&__description {
						max-width: 404px;
						font-size: 14px;
						line-height: 26px;
						color: #5C5C5C;
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}