@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
  font-family: 'Orbitron', monospace;
  perspective: 150px;
}

.the-game {
  width: 100%;
  max-width: 1900px;
  min-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  perspective: 150px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  perspective: 150px;
}

.stats {
  width: 25%;
  font-size: 8vw;
  height: 100%;
  background-color: rgb(120, 120, 248);
  transform: rotateX(-7deg);
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 1vw;
}

.user-win-counter {
  transform: translateX(50px) rotateY(10deg);
  background-color: green;  
}

.computer-win-counter {
  transform: translateX(-50px) rotateY(-10deg);
  background-color: rgba(255, 0, 0, 0.459);  
}

.playground-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateX(5deg);
}

tr {
  height: 2.5vw;
}

td {
  width: 6vw;
  box-shadow: 0 2px rgb(1, 14, 5);
  border: 1px solid #0f4d03;
  border-radius: 7px;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.initiate-game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(161, 81, 81);
  max-width: 30%;
  padding: 25px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(236, 186, 186);
  transform: rotateX(5deg);
}

.initiate-game h1 {
  font-size: 30px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  margin: 5px 0 20px;
}
.initiate-game input {
  transform: scale(1.5);
}

#startGme {
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

#winner {
  font-size: 30px;
  background-color: gold;
  text-transform: uppercase;
}