body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background:url(https://www.detroitlabs.com/wp-content/uploads/2018/02/alfons-morales-YLSwjSy7stw-unsplash.jpg);
  backdrop-filter: opacity(30%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#root {
  margin: 50px;
}

h3 {
  margin-top: 0;
}

.list {
  width: 250px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.book {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(2, 1, 0, 0.5);
}

.book i {
  display: block;
}

.book b {
  display: block;
}