@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&display=swap');

body {
	font-family: "Montserrat", sans-serif;
}

/*-------------------------------------------------------------
--------------------#1 Header Section--------------------------
-------------------------------------------------------------*/

header {
	height: 1012px;
	position: relative;
	background: url("../img/sections-background/section-1(header).jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* --------------------White image filter------------------ */
header::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.19);
	top: 0;
	left: 0;
	z-index: 0;
}

/* --------------------Logo------------------ */
.logo-link {
	text-decoration: none;
	position: relative;
	left: 66px;
	width 200px;
	font-size: 32px;
	font-weight: 400;
	box-sizing: border-box;
	color: white;
}

.logo-link span {
	color: #18cfab;
	font-weight: 700;
}

.logo-link p {
	position: relative;
}

.logo-link p::before {
	content: "H";
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	line-height: 65px;
	position: absolute;
	width: 58px;
	height: 67px;
	top: -17px;
	left: -66px;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #18cfab;
}

/* --------------------Navigation Bar------------------ */
.navigation-bar {
	height: 120px;
	margin-bottom: 264px;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	background-color: rgba(94, 93, 88, 0.62);
	z-index: 1;
}

.logo-n-links-wrapper {
	display: flex;
	max-width: 1160px;
	flex-basis: 1160px;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px
}

ul {
	min-width: 630px;
}

ul li {
	display: inline-block;
	list-style: none;
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 21px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.6);
	padding-bottom: 50px;
}

.nav-link:hover {
	color: #18cfab;
	cursor: pointer;
	border-bottom: 2px solid #18cfab;
}

.nav-link i {
	font-size: 24px;
	vertical-align: middle;
}

.fa-search {
	font-size: 20px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.6);
}

.fa-search:hover {
	cursor: pointer;
}

/* --------------------Header Text------------------ */
.header-text-container {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

.header-text-container h1 {
	color: white;
	padding: 0;
	margin: 0;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 22px;
}

.header-text-container h1 span {
	color: #18cfab;
}

.header-text-container h2 {
	color: white;
	font-size: 78px;
	margin: 0;
	text-transform: uppercase;
}

.header-text-container p {
	color: white;
	font-size: 34px;
	font-weight: 100;
	text-transform: capitalize;
	margin-bottom: 135px;
}

/* --------------------Buttons----------------- */
.header-text-container .button {
	width: 169px;
	height: 63px;
	font-size: 15px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	border-radius: 8px;
	outline: none;
	border: none;
	background-color: #18cfab;
	box-shadow: 0 -5px 0 0 white;
	cursor: pointer;
	margin: 0 10px;
}

.header-text-container .button:hover {
	background-color: #119178;
}

.header-text-container .blue {
	background-color: #00CBF6;
}

.header-text-container .blue:hover {
	background-color: #03839f;
}

/*-------------------------------------------------------------
-------------------------#2 Features---------------------------
-------------------------------------------------------------*/

.features {
	/*max-width: 1200px;*/
	width: 100%;
	height: 369px;
	margin: 8px auto;
	display: flex;
	margin-bottom: 83px;
}

.features .feature {
	width: 25%;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #1C2A33;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
}

.features .feature:nth-child(even) {
	background-color: #18cfab;
}

.features .feature p {
	margin: 0;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.features .feature i {
	color: white;
	font-size: 80px;
	margin-bottom: 48px;
}

.features .feature:nth-child(odd) p {
	color: #18cfab;
}

.features .feature:nth-child(odd) i {
	color: #18cfab;
}

/* --------------------Icons------------------ */
.fa-mobile-alt {
	position: relative;
	border-radius: 5px;
	background-color: #18cfab;
	font-size: 50px !important;
	left: -25px;
	top: 20px;
}

.fa-tablet-alt {
	position: relative;
	border-radius: 5px;
	background-color: #18cfab;
	font-size: 60px !important;
	left: 35px;
	top: 20px;
}

/*-------------------------------------------------------------
-------------------------#3 Our Services-----------------------
-------------------------------------------------------------*/
.our-services {
	display: flex;
	margin: 0 auto;
	width: 1160px;
	flex-flow: column;
	align-items: center;	
	margin-bottom: 91px;
}

h3 {
	margin: 0;
	font-size: 36px;
	font-weight: 400;
	color: #4E4E4E;
	position: relative;
	margin-bottom: 90px;
}

h3::before {
	content: "";
	position: absolute;
	width: 79px;
	border-bottom: 1px solid #18cfab;
	top: 68px;
	left: 30%;
}

h3::after {
	content: "";
	position: absolute;
	width: 79px;
	border-bottom: 1px solid #18cfab;
	top: 72px;
	left: 35%;
}

.our-services .tabs-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

/* --------------------Tabs------------------ */
.our-services .tabs-list {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 76px;
	list-style: none;
	display: flex;
	align-items: stretch;
	flex-flow: row nowrap;
	margin-bottom: 23px;
}

.our-services .services-tab {
	width: 195px;
	display: flex;
	position: relative;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: #F8FCFE;
	box-shadow: 0 0 0 0.5px #EDEFEF inset;
	color: #717171;
	font-size: 16px;
	font-weight: 400;
}

.our-services .services-tab:hover {
	cursor: pointer;
	box-shadow: 0 0 0 1.5px #18cfab inset;
}

.our-services .active {
	background-color: #18cfab;
	box-shadow: 0 0 0 3px #18cfab inset;
	color: white;
}

.our-services .active::after {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	background-color: #18cfab;
	-webkit-clip-path: polygon(52% 45%, 0 0, 100% 0);
	clip-path: polygon(52% 45%, 0 0, 100% 0);
	top: 75px;
	left: 45;
	z-index: 1;
}

.our-services img {
	width: 195px;
	height: 139px;
}

.our-services .tab-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	color: #777777;
	width: 952px;
	height: 139px;
	margin: 0;
	margin-left: 13px;
	padding: 0;
}

/*-------------------------------------------------------------
-------------------------#4 Buy & Install----------------------
-------------------------------------------------------------*/
.buy-and-install {
	width: 100%;
	height: 476px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgba(0, 0, 0, 0.79);
	overflow: hidden;
	position: relative;
}

.buy-and-install::after {
	content: "";
	width: 100%;
	height: 1290px;
	position: absolute;
	background: url("../img/sections-background/section-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;
}

/* --------------------Content------------------ */
.buy-and-install h2 {
	margin: 0;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #18cfab;
}

.buy-and-install .text {
	margin-bottom: 63px;
	color: white;
	font-size: 16px;
	font-weight: 100;
}

.buy-and-install button {
	width: 169px;
	height: 63px;
	font-size: 15px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	border-radius: 8px;
	outline: none;
	border: none;
	background-color: #18cfab;
	box-shadow: 0 -5px 0 0 white;
	cursor: pointer;
	margin: 0 10px;
}

.buy-and-install button:hover {
	background-color: #119178;
}

/*-------------------------------------------------------------
-------------------------#5 Our Work---------------------------
-------------------------------------------------------------*/
.our-work {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #E9EDEF;
	padding-top: 95px;
}

/* Tabs */
.our-work .tabs-list {
	margin: 0;
	padding: 0;
	height: 58px;
	list-style: none;
	display: flex;
	align-items: stretch;
	flex-flow: row nowrap;
	margin-bottom: 70px;
}

.our-work .works-tab {
	padding: 0 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: #E9EDEF;
	box-shadow: 0 0 0 0.5px #c9c9c9 inset;
	color: #717171;
	font-size: 14px;
	font-weight: 400;
}

.our-work .works-tab:hover {
	cursor: pointer;
}

.our-work .active {
	cursor: pointer;
	color: #18cfab;
	box-shadow: 0 0 0 1.7px #18cfab inset;
}

/* --------------------Content------------------ */
.worksImageWrapper {
	position: relative;
	margin: 0;
	padding: 0;
	width: 285px;
	height: 211px;
	overflow: hidden;
}

.our-work .images-container {
	width: 1160px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 70px;
	background-color: transparent;
}

.our-work img {
	margin: 0;
	padding: 0;
	width: 285px;
	height: 211px;
}

/* ------------------Pop up on image hover---------------- */

.worksImageWrapper:hover .pop-up {
	top: 0px;
	transition: top 0.6s;
	visibility: visible;
}

.our-work .pop-up {
	position: absolute;
	width: 285px;
	height: 211px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: #E9EDEF;
	border-top: 3px solid #18cfab;
	box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
	top: 220px;
	transition: top 0.6s;
}

#popUp { /* a sample element for cloning */
	visibility: hidden;
}

.our-work .pop-up i {
	border: 1px solid #18cfab;
	color: #18cfab;
	padding: 12px;
	border-radius: 50%;
}

.our-work .pop-up i:nth-child(2) {
	color: #E9EDEF;
	background-color: #18cfab;
}

.our-work .pop-up i:hover {
	cursor: pointer;
}

.our-work .pop-up .headline {
	color: #18cfab;
	margin: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
}

.our-work .pop-up div {
	margin-bottom: 40px;
}

.our-work .pop-up .image-category {
	color: #8A8A8A;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 400;
}

/* --------------------Load more button------------------ */
.load-more {
	width: 169px;
	height: 63px;
	font-size: 14px;
	font-weight: 560;
	color: white;
	text-transform: uppercase;
	border-radius: 8px;
	outline: none;
	border: none;
	background-color: #18cfab;
	cursor: pointer;
	margin: 0 10px;
	margin-bottom: 100px;
	text-align: center;
}

.load-more span {
	font-size: 30px;
	vertical-align: middle;
	position: relative;
	left: -10px;
	top: -2px;
}

.load-more:hover {
	background-color: #119178;
}

/*-------------------------------------------------------------
-------------------------#5 Breaking News----------------------
-------------------------------------------------------------*/
.braking-news {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
}

/* --------------------Content grid container-------------- */
.braking-news .news-container {
	width: 1160px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	grid-column-gap: 35px;
  grid-row-gap: 50px;
	margin-bottom: 130px;
}

/* --------------------Content news cards-------------- */
.braking-news .card-link {
	text-decoration: none;
	width: 263px;
	height: 290px;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
}

.braking-news img {
	width: 100%;
	height: 208px;
}

.braking-news .date {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 70px;
	height: 69px;
	margin: 0;
	top: 0;
	right: 0;
	line-height: 25px;
	font-size: 16px;
	color: white;
	background-color: #203E38;
}

.braking-news .card-link:hover .date {
	background-color: #18cfab;
}

.braking-news .stats {
	padding-left: 17px;
	background-color: #F8FCFE;
	border: 1px solid #F2F4F5;
	padding: 14px 0;
	padding-left: 17px;
}

.braking-news .title {
	color: #717171;
	margin: 0;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
}

.braking-news .card-link:hover .title {
	color: #18cfab;
}

.braking-news .uploader,
.braking-news .comment-counter {
	display: inline-block;
	margin: 0;
	color: #777777;
	font-size: 14px;
	font-weight: 300;
}

.braking-news .stats span {
	margin: 0 13px;
	font-weight: 300;
}

/*-------------------------------------------------------------
-------------------------#6 People Say-------------------------
-------------------------------------------------------------*/

.about-theHam {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: 100px;
	background: url("../img/sections-background/section-3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 100px;
}

.about-theHam::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.59);
	top: 0;
	left: 0;
	z-index: 0;
}

.about-theHam h3 {
	z-index: 1;
	color: white;
}

.about-theHam h3::before {
	left: 240px;
}

.about-theHam h3::after {
	left: 260px; 
}

.about-theHam .content {
	width: 1160px;
	z-index: 1;
}
/* --------------------Big Slider-------------- */
.about-theHam .current-slide {
	display: flex !important;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	outline: none !important;
}

.about-theHam .fa-quote-left {
	color: #18cfab;
	width: auto;
	padding: 0;
	font-size: 48px;
	margin: 0;
	margin-bottom: 40px;
}

.about-theHam .current-slide img {
	width: 143px;
	height: 143px;
	border-radius: 50%;
	box-shadow: 0 0 0 8px rgba(31, 218, 181, 0.17);
}

.about-theHam .author {
	color: #18cfab;
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;;
	max-width: 1160px;
	text-align: center;
}

.about-theHam .cite,
.about-theHam .occupation {
	color: white;
	margin: 0;
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 100;
	max-width: 1160px;
	line-height: 30px;
	text-align: center;
}

/* --------------------Small Slider-------------- */
.mini-slider-wrapper {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.mini-slider-wrapper .slider .img-wrapper {
	outline: none !important;
	height: 150px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}

.about-theHam .slider img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0 auto;
	border: 4px solid rgba(31, 218, 181, 0.17);
}


.mini-slider-wrapper .slick-current {
	position: relative;
	animation: jumpUp 0.6s forwards;
}

@keyframes jumpUp {
	0% {top: 0;}
	100% {top: -35px;}
}

/* ----------------Prev & Next buttons------------ */
.slick-btn {
	cursor: pointer;
	position: relative;
	width: 31px;
	height: 31px;
	background-color: transparent;
	border: 1px solid #BBBBBB;
	outline: none;
	color: #BBBBBB
}

.slick-btn:hover {
	background-color: #18cfab;
	border: none;
}

.slick-btn:hover i{
	color: white;
}

.slick-btn.slick-prev {
	top: 90px;
	left: -32px;
}

.slick-btn.slick-next {
	top: -90px;
	left: 500px;
}

/*-------------------------------------------------------------
-------------------------#7 gallery of images------------------
-------------------------------------------------------------*/
.gallery {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.gallery h3::after {
	left: 170px;
}

.gallery h3::before {
	left: 150px;
}

/* ----------------Gallery------------ */
.gallery-container {
	width: 1160px;
	margin-bottom: 32px;
}

.gallery-img {
	margin-bottom: 20px;
	width: 346px;
}

.grid-sizer { 
	width: 346px; 
}


/*-------------------------------------------------------------
-------------------------#8 Footer-----------------------------
-------------------------------------------------------------*/
footer {
	display: flex;
	flex-flow: column nowrap;
	height: 121px;
	justify-content: center;
	align-items: center;
	background-color: #22353F;
}

footer p {
	color: #AEAEAE;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}

footer a {
	text-decoration: none;
	color: #18cfab;
}




