header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgba(59, 59, 59, 0.692);
  

  & .logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & p {
      color: white;
      font-size: 30px;
    }
  
    & .icon {
      font-size: 34px;
      color: rgb(255, 174, 0);
      margin-right: 5px;
    }
  }
  
  & .link-container {

    &__link {
      text-decoration: none;
      font-size: 20px;
      margin-right: 20px;
      color: white;

      &:hover {
        color: gold;
        cursor: pointer;
      }

      &.selected {
        color: gold;
      }
    }
  }

  
}
