@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

.sign-up-section {
  background-image: url("../images/sign_up_section_background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Ubuntu, sans-serif;
  height: 100vh;
}

/*--------------------------------------------------------------
                        Nav Bar styling
--------------------------------------------------------------*/

.sign-up-section nav {
  display: block;
  position: relative;
  width: 100%;
  height: 59px;
  background-color: rgba(0, 0, 0, 0.41);
}

.brand-logo {
  position: absolute;
  margin: 0;
  left: 81px;
  bottom: 21px;
  
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 21px;
}

.brand-logo:hover {
  color: #3CB878;
  transition: 0.5s;
}

/* navbar icons */

.features {
  position: absolute;
  margin: 0;
  bottom: 19px;
  right: 322px;
}

.calendar {
  display: inline-block;
  position: relative;
  width: 19px;
  height: 19px;
  margin-right: 28px;
  background: url("../images/icons_2.png") 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.forum {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 20px;
  margin-right: 28px;
  background: url("../images/icons_2.png") -38px 0;
  vertical-align: middle;
}

.jorney {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background: url("../images/icons_2.png") -94px 0;
  vertical-align: middle;
}

/* hover effect on navbar icons */
/* callendar hover */
.calendar::after {
  content: "";
  background: url("../images/icons_2.png") -19px 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}


.calendar:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}

/* forum hover */
.forum::after {
  content: "";
  background: url("../images/icons_2.png") -66px 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}


.forum:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}
/* jorney hover */
.jorney::after {
  content: "";
  background: url("../images/icons_2.png") -114px 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}


.jorney:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}
/* navbar sign up */

.authorize {
  position: absolute;
  margin: 0;
  right: 71px;
  bottom: 21px;
  
  color: #FFFFFF;
  font-size: 14px;
}

.authorize a {
  color: #3CB878;
  text-decoration: none;
  font-size: 14px;
  
  
}

.authorize span {
  font-family: Verdana, sans-serif;
  display: inline-block;
  margin-left: 9px;
  font-size: 14px;
  
}

.authorize span a {
  font-size: 14px
}

/*--------------------------------------------------------------
                        Form styling
--------------------------------------------------------------*/

.sign-up {
  margin: 0 auto;
  position: relative;
  top: calc((100vh - 583px - 70px)/2);
  width: 444px;
  height: 584px;
  text-align: center;
  background-color: #3CB878;
  /* a green block on the form */
  box-shadow: -426px 29px 0 0 #FFFFFF inset, 
                 0 -537px 0 0 #FFFFFF inset;
}

.form-title {
  position: absolute;
  margin: 0;
  left: 61px;
  top: 29px;
  font-size: 20px;
  line-height: 13.5px;
}

.log-in-link {
  position: absolute;
  margin: 0;
  right: 59px;
  top: 30px;
  font-size: 14px;
  color: #3CB878;
  text-decoration: none;
}

/* button Facebook */
.facebook-btn {
  box-sizing: border-box;
  position: absolute;
  top: 62px;
  left: 61px;
  width: 156px;
  height: 46px;
  background-color: #305DB8;
  border: none;
  border-radius: 3px;
  padding: 0;
}

.facebook-btn p {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  border-left: 1px solid #2C56AA;
  padding: 4px 0 4px 22px;
  margin: 0;
  position: absolute;
  left: 48px;
  top: 11px;
}

.facebook-btn::after {
  content: url("../images/facebook-logo-white.png");
  position: absolute;
  top: 14px;
  left: 20px;
}

.facebook-btn:hover {
  background-color: #3f78ea;
}


/* button Google */
.Goolge-btn {
  box-sizing: border-box;
  position: absolute;
  top: 62px;
  right: 59px;
  width: 156px;
  height: 46px;
  background-color: #DF4A32;
  border: none;
  border-radius: 3px;
  padding: 0;

}

.Goolge-btn p {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  border-left: 1px solid #CD442E;
  padding: 4px 0 4px 30px;
  margin: 0;
  position: absolute;
  left: 48px;
  top: 11px;
}

.Goolge-btn::after {
  content: url("../images/G+.png");
  position: absolute;
  top: 16px;
  left: 14px;
}

.or-option {
  position: absolute;
  top: 139px;
  right: 216px;
  margin: 0;
  
  font-size: ;
  color: #848484;
}

.Goolge-btn:hover {
  background-color: #f83313;
}

/* input Fields */
.input-field {
  position: absolute;
  left: 61px;
  width: 304px;
  height: 46px;
  border: 1px solid rgb(240, 240, 240);
  padding: 0 0 0 18px;
  font-size: 14px;
}

.name-input {
  top: 167px;
}

.last-name-input {
  top: 231px;
}

.email-input {
  top: 286px;
}

.create-pswrd-input {
  top: 341px;
}

.confirm-paswrd-input {
  top: 396px;
}

/* input Fields effect on focus */
.input-field:focus {
  color: #434343;
  outline: none;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 1px #D5D5D5;
}



/* checkbox */
/* hiding browser's original checkbox */
.terms-conditions {
  position: absolute;
  top: 461px;
  left: 62px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Creating custom checkbox */
.custom-checkbox {
  position: absolute;
  top: 461px;
  left: 62px;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(240, 240, 240);
  outline: none;
}

/* when chackbox is checked, add custom checkmark to the custom checkbox*/
.terms-conditions:checked ~ .custom-checkbox::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 15px;
  border: solid #3CB878;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg) skewx(20deg);
  /*
  background-image: url("../images/checkmark.png");
  background-size: cover;
  background-repeat: no-repeat;
  */
  top: -2px;
  left: 5px;
  
}

.terms-conditions + label {
  position: absolute;
  top: 464px;
  left: 92px;
  font-size: 14px;
  cursor: pointer;
}

.terms-n-cond-link {
  color: #3CB878;
  text-decoration: none;
}


/* submit button */
.sbmt-btn {
  position: absolute;
  left: 62px;
  top: 506px;
  width: 322px;
  height: 46px;
  border: none;
  color: white;
  background-color: #3CB878;
  transition: 0.2s ease all;
}

.sbmt-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 17px -5px #287b50 inset;
  padding-top: 4px;
  transition: 0.1s ease all;
}

.sbmt-btn:active {
  cursor: pointer;
  background-color: #298455;
  padding-top: 4px;
  transition: 0.1s ease all;
}










