body {
  font-family: Helvetica,Arial,sans-serif;
}

.twitter-page {
  background-color: rgb(121, 75, 196);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.twitter-page::after {
  content: "#WhiteLivesMatter";
  position: absolute;
  top: 70px;
  font-size: 100px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.205);
  z-index: 0;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1DA1F2;
  z-index: 2;
  position: sticky;
  top: 0;
}

header img {
  height: 100%;
  width: auto;
  margin-left: 25px;
  z-index: 3;
}

#addPost {
  height: 90%;
  border-radius: 25px;
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: background-color 0.5s;
  padding: 0 15px;
  margin-right: 25px;
}

#addPost:hover {
  background-color: rgba(255, 255, 255, 0.301);
}

.news-feed {
  margin: 0 auto;
  margin-top: 130px;
  width: 70%;
  max-width: 1600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}

.post-wrapper {
  padding: 20px;
  width: 45%;
  min-width: 500px;
  min-height: 150px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.post-wrapper__title {
  text-align: center;
  text-transform: uppercase;
}

.post-wrapper__user,
.post-wrapper__email {
  text-align: end;
}

.post-wrapper__text {
  text-align: justify;
}

.edit-button img,
.delete-button img{
  width: 20px;
  height: auto;
}

.post-wrapper textarea {
  min-width: 100%;
  min-height: 120px;
  max-width: 100%;
  max-height: 120px;
}

form {
  position: absolute;
  padding: 80px 20px 20px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  top: 80px;
  z-index: 1;
  background-color: white;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 50px 0 0 #1DA1F2 inset;
  border: 2px solid  #1DA1F2;
}

form input {
  width: 350px;
  margin-bottom: 17px;
}

form textarea {
  width: 350px;
  max-width: 350px;
  margin-bottom: 20px;
}

form label {
  font-style: italic;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1DA1F2;
  width: 120px;
  height: 120px;
  position: relative;
  top: 150px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}