#sliderContainer {
	display: flex;
	flex-wrap: row nowrap;
	align-items: center;
	justify-content: center;
}

#imageWindow {
	position: relative;
	width: 500px;
	height: 670px;
	display: flex;
	border: 1px solid black;
	overflow: hidden;
}

#carousel {
	position: absolute;
	width: 5000px;
	display: flex;
	justify-items: center;
	align-items: center;
	left: 0;
	z-index: 0;
}

img {
	width: 500px;
	height: 720px;
	margin: 0;
	padding: 0;
}

h1 { 
	display: block;
	margin: 0;
	text-align: center;
}

button {
	height: 50px;
	width: 75px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: aquamarine;
	font-family: monospace;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 50px;
}

button:hover {
	background-color: #54ddaf;
}

button:active {
	box-shadow: 0 2px 5px 1px #4b3d3d inset;
	padding-top: 3px;
}

