.form-container {
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;

  & form {
    display: flex;
    min-width: 300px;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    padding: 5px;
    border-radius: 5px;
    background-color: #99cd324d;

    & label {
      margin-right: 5px;
      
      & input {
        margin-left: 2px;
        margin-bottom: 10px;
      }
    }

    & button {
      text-transform: uppercase;
      align-self: center;
    }
  }
}