@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------------------
                    Section(Screen) styling
--------------------------------------------------------*/
.our-tours-section {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1366px;
  height: 768px;
  background-image: url("../images/background_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 49px 152px 15px 155px;
  text-size-adjust: none;
}

/*-------------------------------------------------------
                    Logo styling
--------------------------------------------------------*/

header {
  display: block;
  width: 100%;
  height: 61px;
  margin: 0 auto 33px;
}

.milan-logo-link {
  box-sizing: content-box;
  float: left;
  width: 150px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.milan-logo {
  float: left;
  width: 46px;
  height: 44px;
  margin: 0 15px 0 0;
  padding: 0;
  background-image: url("../images/milan_header_logo_link.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.milan-logo-text-milan {
  float: left;
  margin: 0;
  padding: 0;
  margin-left: -1px;
  color: #FFFFFF;
  font-size: 29px;
  font-weight: bold;
  height: 14px;
  text-transform: uppercase;
  box-sizing: content-box;
}

.milan-logo-text-holidays {
  display: inline-block;
  box-sizing: content-box;
  text-transform: uppercase;
  content: "holidays";
  position: relative;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  top: 13.2px;
  }


/* Effects on Logo hover */

.milan-logo-link:hover .milan-logo {
  background-image: url("../images/milan_header_logo_active.png");
}

.milan-logo-link:hover .milan-logo-text-milan {
  color: #F26522;
}

.milan-logo-link:hover .milan-logo-text-holidays {
  color: #F26522;
}


/*-------------------------------------------------------
                    Contact Info styling
--------------------------------------------------------*/

.email-adrs {
  float: right;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0.1px;
  margin: 9px 0 0 0;
  font-weight: 300;
}

.email-adrs::after {
  /* adding phone number */
  content: "+39\0000a0338\0000a0709\0000a00880";
  position: absolute;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  font-weight: 300;
  font-size: 18px;
  line-height: 75.5px;
  margin-left: -145px;
}

/*-------------------------------------------------------
                    Tour Images section styling
--------------------------------------------------------*/

.our-tours-images {
  display: block;
  margin: 0 auto;
  width: 1067px;
  height: 555px;
  margin-bottom: 40px;
  text-align: center;
}

.tour-container {
  box-sizing: border-box;
  width: 314px;
  height: 262px;
  float: left;
  margin-right: 62.5px;
  /* box's bottom gradient shadow */
  box-shadow: 0px 240px 20px -25px rgba(0, 0, 0, 0.7) inset;
}

.our-tours-images .tour-container:nth-child(3n+0) {
  margin-right: 0;
}

.first-row {
  margin-bottom: 36px;
}

.photo-container {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 200px;
  margin-bottom: 18.5px;
  /* outer solid black border */
  border: 2px solid #000000;
  /* rules for image container*/
  background-repeat: no-repeat;
  background-size: cover;
}

.Shopping-Tours {
  background-image: url("../images/shopping_tours_img.png");
}

.Sightseeing-Tours {
  background-image: url("../images/sightseeing_tours_img.png");
}

.Food-Tours {
  background-image: url("../images/food_tours_img.png");
}

.Nightlife {
  background-image: url("../images/nightlife_tours_img.png");
}

.Art-Architecture {
  background-image: url("../images/architechture_img.png");
}

.Walking-Tours {
  background-image: url("../images/walking_tours_img.png");
}


.tour-description-text {
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
}

/* Tour card effects */

.tour-container:hover .tour-description-text {
  color: #F26522;
}

.photo-container:hover .slide-in-info {
  height: 63px;
}



/* Slide-in message on tour's card */
.slide-in-info {
  position: absolute;
  background-color: #F26522;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s;
}


/* from (txt) */
.slide-in-from {
  display: inline;
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
  width: 22px;
  height: 14px;
  left: 21px;
  top: 11px;
  margin: 0 0 6px;
}

/* Price Euro (txt) */
.slide-in-price {
  display: inline;
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  width: 36px;
  height: 16px;
  left: 21px;
  top: 27px;
  margin: 0;
}

/* View Details (txt) */
.slide-in-dtls {
  display: inline;
  color: #FFFFFF;
  font-size: 14px;
  position: absolute;
  width: 78px;
  height: 14px;
  left: 185px;
  top: 33px;
  margin: 0;
}

/* Adding Small arrow */
.slide-in-dtls::after {
  content: "";
  display: inline-block;
  background-image: url("../images/Vector%201.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: 24px;
  top: 4px;
  height: 10px;
  width: 5px;
}

/*-------------------------------------------------------
                    Footer styling
--------------------------------------------------------*/

footer {
  vertical-align: middle;
  text-align: center;
  display: block;
  color: #FFFFFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  width: 306px;
  height: 21px;
  margin: 0 auto;
}





