$marginBtm: 5px;

.product {
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 5px;
  border: 1.2px dotted rgb(80, 80, 80);
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.753);
  box-shadow: 0 2px 12px 0 rgba(59, 59, 59, 0.692);
  margin-bottom: 30px;
  margin-right: 30px;

  &__title {
    max-width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: $marginBtm;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
  }

  &__image {
    width: 100%;
    height: 200px;
    margin-bottom: $marginBtm;
    border-radius: 10px;
    object-fit: cover;
  }

  &__features {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__descripton {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      &__text {
        font-size: 16px;
        margin-bottom: $marginBtm + $marginBtm;
      }
    
      &__price {
        font-size: 20px;
        margin-bottom: $marginBtm;
      }
    }

    &__actions {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      &__icon {
        margin-bottom: $marginBtm;
        font-size: 25px;
        cursor: pointer;
        align-self: flex-end;

        &.fullHeart {
          color: rgb(255, 0, 98);
        }

        &.emptyHeart {
          color: rgb(255, 153, 0);
          transition: color 0.5s;

          &:hover {
            color: red;
            transition: color 0.5s;
          }
        }
      }

      &.purchase-btn {
        background-color: rgba(22, 170, 22, 0.548);
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px 10px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
          background-color: rgb(30, 255, 0);
          transition: background-color 0.5s;
        }
      }

      &.delete-btn {
        background-color: rgba(170, 22, 22, 0.548);
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px 10px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
          background-color: rgb(255, 0, 0);
          transition: background-color 0.5s;
        }
      }
    }
  }  
}