@charset "UTF-8";
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
/* similar to FutuaBT*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');
/* Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600;0,700;1,300&display=swap');


/*---------------------------------------------------------
                          Page styling
----------------------------------------------------------*/
.web-page {
  display: grid;
  height: auto;
  justify-items: stretch;
  grid-template-areas: 'navigation'
                       'master-header'
                       'what'
                       'companies'
                       'meet-us'
                       'testimonials'
                       'why'
                       'footer';
  grid-template-rows: repeat(8, auto);
  
  background-color: transparent;
  
  overflow-x: hidden;
  position: relative;
  perspective: 70px;
}

/* universal stylings */
.section-headline {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #14AFCA;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}

.section-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 40px;
  color: #424F57;
}

/*---------------------------------------------------------
                      Navigation bar styling
----------------------------------------------------------*/
.top-nav-bar {
  grid-area: 'navigation';
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  height: 115px;
  margin-top: 27.5px;
  flex-basis: 1400px;
}

/* brand name stylingi */
.brand-name {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #424F57;
  font-size: 36px;
  text-decoration: none;
}

.brand-name span {
  text-transform: uppercase;
  font-weight: 900;
  color: #14AFCA;
}

.brand-name:hover {
  text-shadow: 0 2px 10px rgba(20, 175, 202, 0.31);
}

/* links styling */
.top-nav-bar ul {
  display: flex;
  margin: 0 10px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 600px;
}

.top-nav-bar ul a {
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #424F57;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin: 0 5px;
}

.top-nav-bar ul a:hover {
  color: #14AFCA;
}

/*---------------------------------------------------------
                      Master Moto styling
----------------------------------------------------------*/
.header-moto {
  grid-area: 'master-header';
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 400px;
  margin-bottom: 70px;
}

.header-moto p {
  font-family: 'Nunito Sans';
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  width: 1200px;
  height: 145px;
  text-align: center;
  line-height: 70px;
}

/*---------------------------------------------------------
                      Master Moto styling
----------------------------------------------------------*/
.what {
  position: relative;
  grid-area: 'what';
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-content: center;
  align-items: center;
  background-color: #fff;
  height: 400px;
  z-index: 2;
  margin-bottom: 150px;
}

.what::before {
  content: "";
  position: absolute;
  width: 0;
  height: 70px;
  top: -140px;
  border-top: 70px solid transparent;
  border-left: calc(100vw / 2) solid #fff;
  border-right: calc(100vw / 2) solid #fff;
}

.what::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 400px;
  border-top: 70px solid #fff;
  border-left: calc(100vw / 2) solid transparent;
  border-right: calc(100vw / 2) solid transparent;
}
/* content styling */
.what .section-description {
  color: #424F57;
}

.what .main-text {
  width: 992px;
  height: 93px;
  font-family: Roboto;
  line-height: 30px;
  text-align: center;
  color: #424F57;
}

/*---------------------------------------------------------
                      Companies styling
----------------------------------------------------------*/
.companies {
  grid-area: 'companies';
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  align-content: center;
  align-items: center;
}

.companies .section-description {
  color: #fff;
}

/* logo container styling */
.logos-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
  grid-row-gap: 100px;
  width: 970px;
  height: auto;
  margin-bottom: 80px;
}

.behance {
  width: 189px;
  height: 34px;
  background: url("../images/companies-logos/behance-logo.png") no-repeat;
  background-position: center;
}
/* adobe complex logo styling */
.adobe {
  position: relative;
  width: 225px;
  height: 99px;
  background-color: #fff;
}

.adobe::before {
  position: absolute;
  content: "";
  width: 77px;
  height: 63px;
  background: url("../images/companies-logos/Adobe-logo.png") no-repeat;
  background-position: center;
  top: 18px;
  left: 16px;
}

.adobe::after {
  position: absolute;
  content: "";
  width: 114px;
  height: 38px;
  background: url("../images/companies-logos/Adobe-logo-text.png") no-repeat;
  background-position: center;
  top: 30.5px;
  left: 93px;
}
/* end of adobe logo styling */

.envato {
  width: 217px;
  height: 40px;
  background: url("../images/companies-logos/envato.png") no-repeat;
  background-position: center;
}

.deviantart {
  width: 176px;
  height: 89px;
  background: url("../images/companies-logos/devianart.png") no-repeat;
  background-position: center;
}

.flickr {
  width: 159px;
  height: 48px;
  background: url("../images/companies-logos/flickr-logo.png") no-repeat;
  background-position: center;
}

.markco {
  width: 185px;
  height: 48px;
  background: url("../images/companies-logos/markco-logo.png") no-repeat;
  background-position: center;
}

.yahoo {
  width: 200px;
  height: 38px;
  background: url("../images/companies-logos/yahoo-logo.png") no-repeat;
  background-position: center;
}

/*---------------------------------------------------------
                      Meet Us styling
----------------------------------------------------------*/
.our-team {
  grid-area: 'meet-us';
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  height: 800px;
  margin-bottom: 100px;
  background-color: #fff;
}

.our-team::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 800px;
  border-top: 70px solid #fff;
  border-left: calc(100vw / 2) solid transparent;
  border-right: calc(100vw / 2) solid transparent;
}

.team-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 1100px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 300px;
}

.profile img {
  width: 205px
}

.profile {
  font-family: Roboto;
  color: #424F57;
  text-align: center;
  line-height: 28px;
}

/*---------------------------------------------------------
                      Testimonials styling
----------------------------------------------------------*/
.testimonials {
  position: relative;
  grid-area: 'testimonials';
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-content: center;
  align-items: center;
  background-color: transparent;
  height: 400px;
  margin-bottom: 100px;
}

.testimonials .section-description {
  color: #fff;
}

.quote-text {
  width: 907px;
  height: 45px;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.8px;
  color: #fff;
  margin-bottom: 40px;
}

.author-name {
  margin: 0;
  width: 680px;
  text-align: end;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #fff;
}

/*---------------------------------------------------------
                      Why section styling
----------------------------------------------------------*/
.why-choose-us {
  grid-area: 'why';
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  background-color: #fff;
  height: 450px;
}

.why-choose-us::before {
  content: "";
  position: absolute;
  width: 0;
  height: -170px;
  top: -70px;
  border-top: 70px solid transparent;
  border-left: calc(100vw / 2) solid #fff;
  border-right: calc(100vw / 2) solid #fff;
}

.success-formula {
  width: 816px;
  height: 92px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #424F57;
  letter-spacing: 0.75px;
  text-align: center;
  line-height: 48px;
  margin: 0;
}

/*---------------------------------------------------------
                      Footer styling
----------------------------------------------------------*/
footer {
  margin: 0;
  grid-area: 'footer';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  height: 100px;
}

.legal-copy {
  margin: 0;
  width: 416px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #424F57;
  letter-spacing: 0.7px;
}

.legal-copy a {
  font-weight: 600;
  color: #424F57;
  text-decoration: none;
}

/*---------------------------------------------------------
                        Parallax
----------------------------------------------------------*/
/* heaer parallax */
.header-parallax {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../images/backgrounds/header-parallax-background.jpg") no-repeat fixed;
  background-position: center;
  background-size: cover;
  transform: translateY(230px) translateZ(14px);
}

.header-parallax::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.62);
}

/* mid-page parallax */
.companies-parallax {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 200px;
  left: 0;
  z-index: -2;
  background: url("../images/backgrounds/companies-parallax-background.jpg") no-repeat fixed;
  background-position: center;
  background-size: cover;
  transform: translateY(0px) translateZ(10px);
}

.companies-parallax::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.62);
}

/* footer parallax */
.footer-parallax {
  position: absolute;
  width: 100%;
  height: 950px;
  top: 2300px;
  left: 0;
  z-index: -1;
  background: url("../images/backgrounds/testimonials-parallax-background.jpg") no-repeat fixed;
  background-position: center;
  background-size: cover;
  transform: translateY(-200px) translateZ(10px);
}

.footer-parallax::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.62);
}






