@media (max-width: 481px) {
	.footer-section__wrapper__text {
		font-size: 12px;
		line-height: 24px;
		
		&--small-screen-hide {
			display: none;
		}
	}
}

@media (max-width: 620px) {
	.footer-section__wrapper__contact-info {
		@include footer-flex-settings;
		line-height: 25px;
		
		&__link {
			font-size: 14px;
		}
	}
}

