@media (max-width: 495px) {
	.instagram-gallery {
		background-color: transparent;
	}
	
	.instagram-gallery__instagram-posts__post-gallery__image-link {
		max-width: 300px;
		
		&:nth-child(1) ~ & {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.instagram-gallery__instagram-posts__header__social-media-link {
		display: none;
	}
}

@media (min-width: 495px) and (max-width: $tablet-max-width - 1) {
	.instagram-gallery__instagram-posts__post-gallery__image-link {
		max-width: 300px;
		
		&:nth-child(2) ~ & {
			display: none;
		}
	}
}

@media (min-width: $tablet-max-width) and (max-width: 899px) {
	.instagram-gallery__instagram-posts__post-gallery__image-link {
		max-width: 249px;
		
		&:nth-child(3) ~ & {
			display: none;
		}
	}
}

@media (min-width: 900px){
	.instagram-gallery__instagram-posts__post-gallery__image-link {
		max-width: 285px;
		
		&:nth-child(4) ~ & {
			display: none;
		}
	}
}