@media (max-width: 420px) {
	.main-content__recent-posts__gallery-container__post-wrapper__description-block__description {
		display: none;
	}
}

@media (min-width: 617px) and (max-width: $tablet-max-width) {
	@include post-description-wide-screens;
}

@media (min-width: $tablet-max-width + 1){
	@include post-description-wide-screens;
} 

@media (min-width: 1175px){
	@include post-description-wide-screens;
	
	.main-content__recent-posts__gallery-container {
		flex-flow: row wrap;
		justify-content: space-between;
	}
} 