@charset "UTF-8";
@font-face {
font-family: Arimo;
src: url("../fonts/arimo-regular-latin-webfont.eot");
src:
url("../fonts/arimo-regular-latin-webfont.woff") format("woff"),
url("../fonts/arimo-regular-latin-webfont.woff2") format("woff2"),
url("../fonts/arimo-regular-latin-webfont.ttf") format("opentype"),
url("../fonts/arimo-regular-latin-webfont.svg") format("svg");
}

body {
  font-family: sans-serif;
}

/*--------------------------------------------------------------
                 Pricing Plans Table - Section -  Styling   
--------------------------------------------------------------*/
.pricing-plans-section {
  background-color: #00e61b;
  margin: 0;
  padding-top: 22px;
  border: none;
}

/* overall table styling */
.price-table {
  margin: 0 auto;
  width: 1143px;
  height: 684px;
  border-collapse: collapse;
  background-color: #FAFAFA;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 7px 0px #000000;
}

.price-table .first-col {
  width: 310px;
}

.price-table .second-col, .third-col, .fourth-col {
  width: 280px;
}


.price-table .first-row {
  height: 73px;
}

.price-table .second-row {
  height: 89px;
}

.price-table tr {
  height: 72px;
}

.smooth-box-shadow-right {
  box-shadow: -7px 0 3px -4px rgba(193, 193, 193, 0.67) inset;
}

.thin-box-shadow-left {
  box-shadow: 4.5px 0 2px -4px rgb(191, 191, 191) inset;
}

.strong-box-shadow-left {
  box-shadow: 7px 0 2px -5px rgba(204, 204, 204, 0.7) inset;
}


.price-table .footer-row {
  height: 90px;
}


.price-table tbody tr:nth-child(even) {
  background-color: #35faf2;
}

.price-table tbody tr:nth-child(odd) {
  background-color: #ffa1a1;
}

.price-table p {
  margin: 0;
  color: #484848;
}

/*--------------------------------------------------------------
                          First Row  
--------------------------------------------------------------*/
/* First Cell */
.price-table .first-row td:nth-child(1) p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 700;
  color: #484848;
	font-style: italic;
}

.price-table .first-row td:nth-child(1) span {
  font-size: 30px;
  display: block;
}

/* Second Cell */
.price-table .first-row td:nth-child(2) {
  background-color: #89C331;
}

.price-table .first-row td:nth-child(2) p {
  color: white;
  position: relative;
  font-size: 24px;
}

/* Third Cell */
.price-table .first-row td:nth-child(3) {
  background-color: #F04A56;
  box-shadow: 4.5px 0 2px -4px #79232b inset;
}

.price-table .first-row td:nth-child(3) p {
  color: white;
  position: relative;
  font-size: 30px;
}

/* Fourth Cell */
.price-table .first-row td:nth-child(4) {
  background-color: #20807C;
  box-shadow: 7px 0 2px -5px #1B6967 inset;
}

.price-table .first-row td:nth-child(4) p {
  color: white;
  position: relative;
  font-size: 24px;
}

/*--------------------------------------------------------------
                          Second Row  
--------------------------------------------------------------*/
.price-table .second-row p {
  font-size: 60px;
	font-style: italic;
  font-weight: 1000;
  text-align: left;
  position: relative;
  left: 10px;
  color: #ff0303;
}

/* selecting ".99" */
.price-table .cents {
  font-size: 24px;
  position: relative;
  top: -30px;
	left: 13px;
}

/* selecting "per month" phrase */
.price-table .service-term {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  width: 130px;
  top: 27px;
  left: 10px;
}



/*--------------------------------------------------------------
                          Third - Eighth Rows  
--------------------------------------------------------------*/
/* selecting all icons */
.icon-price-table {
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  color: #848484;
}
/* selecting icon descriptions */
.price-table .icon-description {
  display: inline-block;
  vertical-align: middle;
}


/*--------------------------------------------------------------
                          Ninth Row  (Table footer)
--------------------------------------------------------------*/
/* First cell */
.price-table .footer-row td:nth-child(1) {
  background-color: #DDDDDD;
}

/* second & fourth cell */
.price-table .footer-row td:nth-child(2) {
  background-color: #EEEEEE;
}

.price-table .footer-row td:nth-child(4) {
  background-color: #EEEEEE;
}

/* button styling */
.price-table .button {
  position: relative;
  width: 195px;
  height: 54px;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 2px 0 0 #C4C4C4;
}

.price-table .button-label {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 18px auto 0;
  transition: 0.5s ease;
}

.price-table .button::after {
  content: "";
  position: absolute;
  border-radius: 0 0 7px 7px;
  width: 195px;
  height: 12px;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0s ease;
}


/* black button */
.price-table .black-button {
  background-color: #484848;
}

.price-table .black-button::after { 
  background-color: #404040;
}

/* acid button */
.price-table .acid-button {
  background-color: #89C331;
}

.price-table .acid-button::after { 
  background-color: #79B027;
}

/* red button */
.price-table .red-button {
  background-color: #F04A56;
}

.price-table .red-button::after { 
  background-color: #DF3A46;
}

/* green button */
.price-table .green-button {
  background-color: #20807C;
}

.price-table .green-button::after { 
  background-color: #16736F;
}

/* buttons hover effect */
.price-table .button:hover {
  margin-top: 7px;
  height: 47px;
  box-shadow: 0 2px 0 0 #C4C4C4;
  transition: 0.2s ease;
}


.price-table .button:hover::after {
  width: 195px;
  height: 7px;
  transition: 0.2s ease;
}

/* buttons onlick effect */
.price-table .button:active {
  margin-top: 7px;
  height: 47px;
  box-shadow: 0 2px 0 0 #C4C4C4, 0 -2px 20px 2px #00ffff;
}


/*--------------------------------------------------------------
                         🔽 Second Table Section 🔽
--------------------------------------------------------------*/
.option-plans-section {
  background-color: #00e61b;
  margin: 0;
  height: 100vh;
  border: none;
}


/*--------------------------------------------------------------
                 Package options Table Styling   
--------------------------------------------------------------*/

.package-options-table {
  position: relative;
  margin: 0 auto;
  top: 27px;
  width: 1143px;
  height: 612px;
  border-collapse: collapse;
  background-color: #00e61b;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.package-options-table tbody {
  border-top: 12px solid #00e61b;
}

.package-options-table thead {
  border: none;
}

.package-options-table col {
  width: 160px;
}

.package-options-table .first-col {
  width: 201px;
}

.package-options-table col:nth-child(odd) {
  background-color: #F2F2F2;
}

.package-options-table col:nth-child(even) {
  background-color: #E3E3E3;
}

.package-options-table .first-row {
  height: 100px;
}

.package-options-table .row {
  height: 164px;
}

.package-options-table td {
  color: #484848;
  font-size: 16px;
  font-style: normal;
  font-weight: normal; 
}

.package-options-table td p {
  display: block;
  margin: 0;
}

.package-options-table td span {
  margin-top:7px;
  display: block;
}
/*--------------------------------------------------------------
                          First Row  
--------------------------------------------------------------*/
/* first cell */
.package-options-table .first-row th:nth-child(1) {
  background-color: #FAFAFA;
}

.package-options-table .first-row th:nth-child(1) p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.package-options-table .first-row th:nth-child(1) span {
  margin: 5px 0 -9px;
  display: block;
  font-size: 20px;
}

/* 2 - 7 cells */
.package-options-table .first-row i {
  margin: 0;
  font-family: FontAwesome;
  color: #848484;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

.package-options-table .first-row p {
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: bold;
}
/*--------------------------------------------------------------
                          Second  Row  
--------------------------------------------------------------*/
/* first cell */
.package-options-table .second-row td:nth-child(1) {
  background-color: rgb(137, 195, 49);
  box-shadow: 0 -3px 2px -2px #72A129 inset;
}

/* first columns styling */
.package-options-table .pack-caption {
  display: block;
  margin: -55px 0 0 0;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.package-options-table .ammount {
  margin: 2px 0 9px 0;
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.package-options-table .cents {
  font-size: 18px;
  display: inline;
  vertical-align: 15px;
}

.package-options-table .service-term {
  font-size: 14px;
  display: inline;
  vertical-align: -7px;
  margin-left: 7px;
}


/* button styling */
.package-options-table .black-button {
  position: absolute;
  width: 147px;
  height: 44px;
  margin: 0 auto;
  left: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  background-color: green;
  transition: 0.5s ease;
}

.package-options-table .black-button::after {
  content: "";
  position: absolute;
  border-radius: 0 0 7px 7px;
  width: 100%;
  height: 8px;
  bottom: 10;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0s ease;
  background-color: #004600;
  transition: 0.5s ease;
}

.package-options-table .black-button p {
  position: relative;
  color: white;
  font-size: 16px;
  font-weight: bold;
  top: 12px;
}

.package-options-table .black-button:hover {
  margin-top: 7px;
  height: 38px;
}

.package-options-table .black-button:hover::after {
  height: 5px;
  transition: 0.5s ease;
}


/*--------------------------------------------------------------
                          Third  Row  
--------------------------------------------------------------*/
.package-options-table .third-row {
  box-shadow: 0 -1.2px 2px 0 #D1D1D1;
}
/* first cell */
.package-options-table .third-row td:nth-child(1) {
  background-color: #ffd800;
  box-shadow: 0 -2px 2px 0 #D1414B inset;
}

    
    
/*--------------------------------------------------------------
                          Fourth  Row  
--------------------------------------------------------------*/
.package-options-table .fourth-row {
  box-shadow: 0 -2px 2px 0 #D1D1D1;
}
/* first cell */
.package-options-table .fourth-row td:nth-child(1) {
  background-color: #20807C;
}


/*--------------------------------------------------------------
              adding space between thead & tbody  
--------------------------------------------------------------*/






