div {
  border: 2px solid gold;
  text-align: center;
  width: 50vw;
  margin: 5px auto;
  border-radius: 20px;
}

.status-container {
  border-radius: 0px;
  width: 80%;
  height: 20px;
  border: none;
  background-color: rgb(145, 145, 145);
  padding: 0;
  transition: width 1s, visibility 2s;
  display: flex;
  margin: 10px auto;
}

.status-filling {
  border-radius: 0px;
  border: none;
  width: 1%;
  height: 100%;
  padding: 0;
  background-color: rgb(8, 187, 127);
  transition: width 1s;
  margin: 0;
}