@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Oswald' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
