@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:&display=swap&subset=cyrillic,cyrillic-ext");

body {
  width: 1480px;
  height: 1282px;
  margin: 0 auto;
}

/*--------------------------
First Screen section
---------------------------*/

section.first-screen {
  display: block;
  width: 1283px;
  height: 1282px;
  margin: 0 auto;
}

/*--------------------------
logo Ramda.js
---------------------------*/

a.logo-link {
  display: inline-block;
  color: #000000;
  width: 334px;
  height: 79px;
  
  font-family: Roboto, sans-serif;
  font-size: 80px;
  
  margin-top: 61px;
  margin-bottom: 38px;
}

span.logo-blue {
  color: #4BCAFF;
}

/*--------------------------
Header navigation bar
---------------------------*/

nav.nav-bar-header {
  box-sizing: border-box;
  display: inline-block;
  width: 1283px;
  height: 72px;
  vertical-align: middle;
  margin-bottom: 50px;
  padding: 0;
  
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  
  background-color: #35444F;
  
  text-align: center;
}

nav.nav-bar-header a {
  display: inline-block;
  box-sizing: content-box;
  margin: 0 -3px;
  padding: 1.79% 38px;
  
  font-size: 24px;
  color: #F2F3F4;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

nav.nav-bar-header a:hover {
  background-color: #222F3A;
  border: 2px solid white;
  border-top: none;
  border-bottom: none;
  padding: 1.79% 36px;
}

/*-----------------------------
Main content section
-------------------------------*/

section.main-content {
  display: block;
  height: 883px;
}

/*----------- sidebar ---------*/

div.side-bar {
  display: inline-block;
  box-sizing: content-box;
  width: 344px;
  height: 399px;
  border: 1px solid #1F1F1F;
  margin-right: 52px;
}

div.side-bar a {
  box-sizing: border-box;
  display: inline-block;
  width: 344px;
  height: 20%;
  padding-left: 44px;
  
  color: #485863;
  font-family: Roboto, sans-serif;
  font-size: 26.9932px;
  line-height: 300%;
}

div.side-bar a:hover {
  border: none;
  color: #000000;
  background-color: #DBDBDB;
  padding-left: 75px;
}
/*----------- image -----------*/

div.image-window {
  display: inline-block;
  box-sizing: border-box;
  width: 885px;
  height: 529px;
  border: 1px solid #1F1F1F;
  float: right;
  margin-bottom: 42px;
  text-align: center;
}

img.ramda-logo {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 381px;
  top: 75px;
  transition: transform 1.2s;
}

img.ramda-logo:hover {
  transform: scale(1.15);
}
/*----------- texts -----------*/

p.text {
  display: inline-block;
  box-sizing: content-box;
  float: right;
  width: 885px;
  text-align: left;
  
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  
}

p.text.top {
  height: 149px;
}

p.text.btm {
  height: 109px;
}

/*-----------------------------
Footer sections
-------------------------------*/

section.footer {
  display: block;
  width: 100%;
}

/*----------- links ---------*/

div.nav-bar-btm {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 69px;
  margin: 0 auto;
  padding: 0 4px 0 43px;
  
  text-align: center;
  vertical-align: middle;
  
  background-color: #B4B7B9;
}

div.nav-bar-btm a {
  display: inline-block;
  float: left;
  margin: 20.5px 23px 0 0;
  
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-size: 28px;
  color: #0C1927;
}

div.nav-bar-btm a:hover {
  color: #3181A6;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #3181A6;
}

/*---------- copyright --------*/

p.copy-btm {
  display: inline-block;
  float: right;
  margin: 0 23px 0 0;
  
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 70px;
  color: #010101;
}







